@using Client.Pages.TimeLinePage.Response

<a @onclick="(async ()=> await SelectCard(Indicator.DayId))" class="dayContainer">
    <div class="dayCard">
        <div class="box">
            <div class="content">
                <h2>@Indicator.DayNumber</h2>
                <h3>@Indicator.Month</h3>
                <p>Спирт: @Indicator.EthanolValue.ToString("F2") %</p>
                <p>Сахар: @Indicator.SugarValue.ToString("F2") г./Л.</p>
                <p>Активных событий: @Indicator.EventCount</p>
            </div>
        </div>
    </div>
</a>

@code {
    /// <summary>
    /// Показатели для конкретного дня
    /// </summary>
    [EditorRequired, Parameter]
    public DayIndicators Indicator { get; set; } = new();

    /// <summary>
    /// Обработчик события выбора карточки дня
    /// </summary>
    [Parameter]
    public EventCallback<int> SelectCardEvent { get; set; }

    /// <summary>
    /// Нажатие на карточку дня
    /// </summary>
    /// <param name="id"></param>
    /// <returns></returns>
    private async Task SelectCard(int id)
    {
        await SelectCardEvent.InvokeAsync(id);
    }
}
